/* common Property */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Noto-serif{
    font-family: "Noto Serif", serif;
}
.Inter{
     font-family: "Inter", sans-serif;
}
.page-container{
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 10px;
}

body{
    background-color: #F5F8FF;
}

/* nav section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    display: flex;
    
}
nav a{
    text-decoration: none;
    margin-right: 30px;
    color: #252432;
    font-weight: 700;
}
.nav-span{
    color: #8987A1;
    font-weight: 400;
}
.nav-cart{
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
}

/* header Banner*/

.banner{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    align-items: end;
}

.banner-flower{
   display: block;
}

.head-title1{
    color: black;
    font-size: 4.06rem;
    font-weight: 700;
    max-width: 570px;
}

.color-head-title1{
    color: #E95A08;
}

.paragraph{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;
    text-align: justify;
    text-justify: inter-word;
    max-width: 570px;
    margin-top: 12px;
}

/* Our Plants*/
.plants-container{
    text-align: center;
    justify-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.paragraph-text{
    max-width: 70%;
    text-align: center;
}
.common-title{
    color: black;
    font-weight: 700;
    font-size: 3.125rem;
}

.common-title span{
    color: #E95A08;
}




/* flower-jar-card */
.jar-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
    width: 100%;
}

.card{
    max-width: 100%;
    margin: 0;
    box-shadow: 0px 3px 21px -7px rgba(4,1,1,0.86);
    -webkit-box-shadow: 0px 3px 21px -7px rgba(4,1,1,0.86);
    -moz-box-shadow: 0px 3px 21px -7px rgba(4,1,1,0.86);
}

.image-contain{
    width: 100%;
}

.flower-name{
   justify-items: center;
}

.flower-name h3{
    color: black;
    font-weight: 500;
    font-size: 1.37rem;
    margin-top: 30px;
    margin-bottom: 15px;
}
.price{
    font-size: 1.73rem;
    color: #111111;
    font-weight: 700;
    margin-bottom: 20px;
}

.card-btn{
    width: 100%;
    padding: 18px 50px;
    color: white;
    font-weight: 600;
    background-color: #E95A08;
    border: none;
    cursor: pointer;
}



.card-btn:hover{
    background: #833AB4;
    background: linear-gradient(229deg, rgba(131, 58, 180, 1) 0%, rgba(145, 55, 163, 1) 6%, rgba(253, 29, 29, 1) 45%, rgba(230, 142, 0, 1) 95%);

}

/* Flower and Plants Lover */
.ture-seller-container{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
.plants{
    margin-top: 150px;
}

.trust-seller{
    max-width: 540px;
    max-height: 597px;
    position: relative;
}

.trusted-sale{
    width: 286px;
    height: 286px;
    position: absolute;
    top: -120px;
    left: 380px;
}
.trusted-sale img{
    width: 100%;
}

.plants-lover-description{
    max-width: 700px;
    max-height: 520px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    margin-left: 25px;
}
.plants-lover-description ul li p{
    margin-bottom: 15px;
}


.plants-title{
    font-weight: 700;
    font-size: 3.125rem;
    margin-bottom: 10px;
}







/* Latest Deals same as our plants */
/* Latest Deals offer cards */
.offer-cards{
    display: grid;
    grid-template-columns: calc(30% - 15px) calc(70% - 15px);
    gap:30px;
}

.box1,
.box3{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/deal-ana.png);
    padding: 70px 80px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
}
.box3{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/deal-bloom.png);
    padding: 70px 80px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
}

.box2{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/deal-zabo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    max-width: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    grid-row: span 2;
}

.ancore{
    color: white;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 5px;
}
.box13-off{
    font-size: 1.25rem;
    font-weight: 700;
}
.box2-off{
    font-size: 2.5rem;
    font-weight: 700;
}

.box2 a{
    font-size: 1.8rem;
}

/* join colorful branch */
.colorful-branch{
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 100px;
    justify-items: center;
    text-align: center;
    padding: 200px;
    height: 450px;
}
.search-subscribe{
  height: 40px;
  max-width: 650px;
  display: flex;
  overflow: hidden;
}

.branch-title{
    color: white;
    font-size: 3.125rem;
    margin-bottom: 10px;
}

.search-subscribe input{
  padding-left:20px;
  margin-left: 0px;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 650px;
}

.search-subscribe button{
  width: 186px;
  background-color: rgb(233, 90, 8);
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 20px;
  border: none;
  cursor: pointer;
}

button:hover{
     transition:  2s;
     background-image: linear-gradient(to right, #cfe859, #ced448, #ccc139, #c8ae2c, #c39b21);
}


/* footer section */
footer{
    margin-top: 50px;
    font-size: 1rem;
    font-weight: 400;
    color: #6B7280;
    padding: 50px 160px;
}

.footer-section{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    gap: 30px;
}
.footer-items{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 100px;
}

.footer-para{
    text-align: justify;
    width: 100%;
    margin-top: 10px;
}
.item-1,
.item-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 30px;
  
}

.item-1 a, .item-2 a{
    text-decoration: none;
    color: #6B7280;
}
.logo-tools{
    display: flex;
    justify-content: start;
    justify-items: center;
    gap: 30px;
}

.align-logo{
    display: flex;
    align-items: center;
    margin-top: -150px;
    gap: 20px;
}






/* responsive section starts here */
/* small devices */

@media screen and (min-width:350px) and (max-width: 576px) {


 /* Nav section */
.nav-hide{
        display: none;
    }

.nav-items{
    margin-top: 30px;
    }


/* banner */
.banner{
    flex-direction: column-reverse;
    gap: 50px;
}

.banner-flower, figure img{
   max-width: 100%;
}

.head-title1{
    font-size: 1.5rem;
   
}

.paragraph{
    font-size: 0.873rem;
}

/* Our Plants */
.paragraph-text{
    max-width: 100%; 
}
.common-title{
    font-size: 1.6rem;
}


/* jar card container */
.jar-container{
    grid-template-columns: repeat(2, 1fr);
}
.flower-name h3{
    font-size: 1.1rem;
    padding: 3px;
}
.price{
    font-size: .9rem;
    font-weight: 900;
    margin-bottom: 15px;
}

.card-btn{
    padding: 10px 10px;
    background-color: #ff3300;
    font-size: .8rem;
}

.card{
    max-width: 300px;
}


/* Plants lover */
.ture-seller-container{
    flex-direction: column;
}

.plants{
    margin-top: 70px;
}
  
.trust-seller img{
    max-width: 100%;
}

.plants-lover-description{
    font-size: 1rem;
}
.plants-title{
    font-size: 1.25rem;
    margin-top: 20px;
}
.trust-hide{
    display: none;
}


/* latest offer */
.offer-cards{
    grid-template-columns: 1fr;
    justify-items:auto;
    padding: 10px;
}

.box2{
    width: 100%;
    height: 206px;
    border-radius: 5px;
}

.box1{
    border-radius: 5px;
}
.box1 h4, .box2 h4, .box3 h4{
    font-size: .95rem;
}

.box1 a, .box2 a, .box3 a{
    font-size: .6rem;
}
.box3{
    border-radius: 5px;
}


/* join-branch */
.colorful-branch{
    padding: 50px;
    height: 200px;
}

.search-subscribe{
  height: 45px;
  width: 325px;
}

.search-subscribe input{
  font-size: .81rem;
}

.search-subscribe button{
  width: 300px;
  background-color: rgb(234, 200, 30);
  font-size: .81rem;
  color: black;
}

/* footer */
footer{
    margin-top: 50px;
    padding: 25px;
}

.footer-section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.footer-items{
    grid-template-columns: 1fr;
    padding-left: 0px;
    margin-top: 15px;
}

.footer-para{
    text-align: left;
}

.item-1,
.item-2{
    gap: 15px;
}

.item-2{
    margin-top: 20px;
}

.align-logo{
    margin-top: -0px;
    gap: 10px;
    padding-top: 10px;
}


}
















/* large device */
@media screen and (min-width:577px) and (max-width: 992px) {

 /* Nav section */
.nav-hide{
        display: none;
    }

.nav-items{
    margin-top: 30px;
    }


/* Banner */
.banner{
    flex-direction: column;
    gap: 50px;
    align-items:center;
}

.banner-flower, figure img{
   max-width: 100%;
}

.head-title1{
    font-size: 2.4rem;
}

.paragraph{
    font-size: 1.3rem;
}


/* Our Plants */
.paragraph-text{
    max-width: 100%; 
}
.common-title{
    font-size: 2rem;
}


/* jar-flower-container */
.jar-container{
    grid-template-columns: repeat(2, 1fr);
}
.card-btn{
    background-color: #67b41ad9;
}

/* Plants lover */
.ture-seller-container{
    flex-direction: column;
}

.plants{
    margin-top: 70px;
}
  
.trust-seller img{
    max-width: 100%;
}

.plants-lover-description{
    font-size: 1rem;
}
.plants-title{
    font-size: 1.25rem;
    margin-top: 20px;
}
.trust-hide{
    display: none;
}

/* Leatest Deals offer */
.offer-cards{
    grid-template-columns: 1fr;
    justify-items:auto;
    padding: 10px;
}

.box3, .box2, .box1{
    border-radius: 0px;
}

.box1 h4, .box2 h4, .box3 h4{
    font-size: 2rem;
}

.box1 a, .box2 a, .box3 a{
    font-size: 1.2rem;
}

.box2{
    width: 100%;
    height: 206px;
}

.box2-off{
    font-size: 1.25rem;
}

.box2 a{
    font-size: 1.25rem;
}

/* join -branch */
.colorful-branch{
    padding: 100px;
    height: 300px;
}
.search-subscribe{
  width: 525px;
}
.search-subscribe button{
  background-color: rgb(245, 71, 8);
  font-size: .81rem;
}

/* footer-section */
footer{
    margin-top: 50px;
    padding: 25px;
}

.footer-section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.footer-items{
    grid-template-columns:1fr;
    padding-left: 0px;
    margin-top: 15px;
}

.footer-para{
    text-align: left;
}

.item-1,
.item-2{
    gap: 15px;
}

.item-2{
    margin-top: 20px;
}

.align-logo{
    margin-top: -0px;
    padding-top: 10px;
}

}